*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #CECECE;
    max-height: 100%;
}
header{
    display: flex;
    justify-content: center;
    margin: 2rem 0px;
    font-size: 52px;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 90rem;
}
#buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-right: 10rem;
}
button , input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    margin: 1rem auto;
    cursor: pointer;
}
#colorButton{
    display: flex;
    border: none;
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
}
#colorButton::-webkit-color-swatch{
    border: none;
    border-radius: 50px;

}

#paintEraseContainer{
    display: flex;
    justify-content: center;
}

.active{
    background-color: #333333;
    color: #CECECE;
}


#paintEraseContainer > button{
    width: 7rem;

}

#sizeSliderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pixelContainer{
    display: grid;
    width: 40rem;
    height: 40rem;
    border: 1px solid black;
}

#pixelContainer > div{
    user-select: none;
    
}

button:hover,
input:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

input:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }

@media screen and (max-width: 1450px) {
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #buttonsContainer{
        display: grid;
        grid-template-columns: 8rem 8rem 8rem 8rem;
        grid-template-rows: 4rem;
        margin: 0 auto;
    }

    button , input {
        display: flex;
        justify-self: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 6rem;
        height: 2rem;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 500;
        margin: 0.5rem auto;
        cursor: pointer;
    }
    #colorButton{
        display: flex;
        border: none;
        width: 4rem;
        height: 4rem;
        margin: 1rem auto;
    }
    #paintEraseContainer > button{
        width: 5rem;
    
    }
}

@media screen and (max-width: 800px) {
    header{
        font-size: 20px;
    }
    #buttonsContainer{
        display: grid;
        grid-template-columns: 5rem 7rem 7rem 5rem;
        grid-template-rows: 3rem;
        margin: 2rem 0;
    }
    button , input {
        width: 6rem;
        height: 2rem;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 500;
        margin: auto 0;
        cursor: pointer;
    }
    #colorButton{
        width: 3rem;
        height: 3rem;
        margin: auto 0;
    }
    #paintEraseContainer > button{
        width: 5rem;
    
    }
    #clearButton{
        width: 5rem;
    }

    #pixelContainer{
        display: grid;
        width: 25rem;
        height: 25rem;
        border: 1px solid black;
    }
}