*{
    background-color: #CECECE;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    margin: 1em;
    font-size: 52px;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
    margin: 0 auto;
    max-width: 90rem;

}
#buttonContainer{
    display: flex;
    justify-self: start;
}
button , input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    margin: 1rem auto;
    cursor: pointer;
}
#colorButton{
    display: flex;
    border: none;
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
}
#colorButton::-webkit-color-swatch{
    border: none;
    border-radius: 50px;

}

#paintEraseContainer{
    display: flex;
    justify-content: center;
}

.active{
    background-color: #333333;
    color: #CECECE;
}


#paintEraseContainer > button{
    width: 7rem;

}

#sizeSliderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pixelContainer{
    display: grid;
    width: 40rem;
    height: 40rem;
    border: 1px solid black;
}

#pixelContainer > div{
    user-select: none;
    
}

button:hover,
input:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

input:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }